main{
    width: 80%;
    margin: 0 auto;

}
.kartya {
    flex-direction: column;
    display: flex;
    flex: 0 1 250px;
    max-width: 300px;
    border: 1px solid rgba(89, 89, 180, 0.5);
    padding: 20px;
    border-radius: 10px;



}
.kartya p{
        margin: 5px;
}

.kartya img {
    width: 100%;
    height: auto;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.gomb{
    padding: 5px 15px;
    border: 1px rgba(89, 89, 180, 0.5) solid;
    border-radius: 25px;
    flex-wrap: wrap;
    color: rgb(89, 89, 180);
    text-align: center;
}
.szures, .rendezes, #atlag{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;



}
.kartya h2{
    color: rgb(89, 89, 180);
}
h1{
    text-align: center;
    font-size: 75px;
    color: rgb(89, 89, 180);
    border-bottom: 4px solid rgb(89, 89, 180);
    padding-bottom: 10px;
    font-family: cursive;
}
h2{
    font-size: 25x;
    margin: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#atlag{
    margin: 20px;
}
p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

@media (max-width: 700px) {
    h1 {
        font-size: 40px;
    }
    .gomb {
        width: 600px;

    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 30px;
    }
}